<mat-toolbar color="primary">
  <span><a routerLink="">My Application</a></span>
  <span class="spacer"></span>
  <ul>
    <!-- <li><a mat-button routerLink="" routerLinkActive="mat-accent">View Posts</a></li> -->
    <li *ngIf="isUserAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >Create Posts</a
      >
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="logout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
