<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput placeholder="Enter email" type="email" name="email" #emailInput="ngModel" ngModel email required/>
      <mat-error *ngIf="signupForm.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput rows="6" placeholder="Enter password" type="password"  #passwordInput="ngModel" ngModel name="password" required/>
      <mat-error  *ngIf="signupForm.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
</mat-card>
